# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

/PROJELER/AA Game/[Ll]ibrary/
/PROJELER/AA Game/[Tt]emp/
/PROJELER/AA Game/[Oo]bj/
/PROJELER/AA Game/[Bb]uild/
/PROJELER/AA Game/[Bb]uilds/
/PROJELER/AA Game/[Ll]ogs/
/PROJELER/AA Game/[Uu]ser[Ss]ettings/

/PROJELER/Civilization 2D/[Ll]ibrary/
/PROJELER/Civilization 2D/[Tt]emp/
/PROJELER/Civilization 2D/[Oo]bj/
/PROJELER/Civilization 2D/[Bb]uild/
/PROJELER/Civilization 2D/[Bb]uilds/
/PROJELER/Civilization 2D/[Ll]ogs/
/PROJELER/Civilization 2D/[Uu]ser[Ss]ettings/

/PROJELER/Helix Jump/[Ll]ibrary/
/PROJELER/Helix Jump/[Tt]emp/
/PROJELER/Helix Jump/[Oo]bj/
/PROJELER/Helix Jump/[Bb]uild/
/PROJELER/Helix Jump/[Bb]uilds/
/PROJELER/Helix Jump/[Ll]ogs/
/PROJELER/Helix Jump/[Uu]ser[Ss]ettings/

/PROJELER/infinityGame/[Ll]ibrary/
/PROJELER/infinityGame/[Tt]emp/
/PROJELER/infinityGame/[Oo]bj/
/PROJELER/infinityGame/[Bb]uild/
/PROJELER/infinityGame/[Bb]uilds/
/PROJELER/infinityGame/[Ll]ogs/
/PROJELER/infinityGame/[Uu]ser[Ss]ettings/

/PROJELER/Jumper Cube/[Ll]ibrary/
/PROJELER/Jumper Cube/[Tt]emp/
/PROJELER/Jumper Cube/[Oo]bj/
/PROJELER/Jumper Cube/[Bb]uild/
/PROJELER/Jumper Cube/[Bb]uilds/
/PROJELER/Jumper Cube/[Ll]ogs/
/PROJELER/Jumper Cube/[Uu]ser[Ss]ettings/

/PROJELER/Mind Game/[Ll]ibrary/
/PROJELER/Mind Game/[Tt]emp/
/PROJELER/Mind Game/[Oo]bj/
/PROJELER/Mind Game/[Bb]uild/
/PROJELER/Mind Game/[Bb]uilds/
/PROJELER/Mind Game/[Ll]ogs/
/PROJELER/Mind Game/[Uu]ser[Ss]ettings/

/PROJELER/OutJump 3D/[Ll]ibrary/
/PROJELER/OutJump 3D/[Tt]emp/
/PROJELER/OutJump 3D/[Oo]bj/
/PROJELER/OutJump 3D/[Bb]uild/
/PROJELER/OutJump 3D/[Bb]uilds/
/PROJELER/OutJump 3D/[Ll]ogs/
/PROJELER/OutJump 3D/[Uu]ser[Ss]ettings/

/PROJELER/Outjump Game/[Ll]ibrary/
/PROJELER/Outjump Game/[Tt]emp/
/PROJELER/Outjump Game/[Oo]bj/
/PROJELER/Outjump Game/[Bb]uild/
/PROJELER/Outjump Game/[Bb]uilds/
/PROJELER/Outjump Game/[Ll]ogs/
/PROJELER/Outjump Game/[Uu]ser[Ss]ettings/

/PROJELER/Roller Splat/[Ll]ibrary/
/PROJELER/Roller Splat/[Tt]emp/
/PROJELER/Roller Splat/[Oo]bj/
/PROJELER/Roller Splat/[Bb]uild/
/PROJELER/Roller Splat/[Bb]uilds/
/PROJELER/Roller Splat/[Ll]ogs/
/PROJELER/Roller Splat/[Uu]ser[Ss]ettings/

/PROJELER/Bullet Rush/[Ll]ibrary/
/PROJELER/Bullet Rush/[Tt]emp/
/PROJELER/Bullet Rush/[Oo]bj/
/PROJELER/Bullet Rush/[Bb]uild/
/PROJELER/Bullet Rush/[Bb]uilds/
/PROJELER/Bullet Rush/[Ll]ogs/
/PROJELER/Bullet Rush/[Uu]ser[Ss]ettings/

/PROJELER/Toplama Mekanigi/[Ll]ibrary/
/PROJELER/Toplama Mekanigi/[Tt]emp/
/PROJELER/Toplama Mekanigi/[Oo]bj/
/PROJELER/Toplama Mekanigi/[Bb]uild/
/PROJELER/Toplama Mekanigi/[Bb]uilds/
/PROJELER/Toplama Mekanigi/[Ll]ogs/
/PROJELER/Toplama Mekanigi/[Uu]ser[Ss]ettings/

















# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/PROJELER/AA Game/[Mm]emoryCaptures/
/PROJELER/Civilization 2D/[Mm]emoryCaptures/
/PROJELER/Helix Jump/[Mm]emoryCaptures/
/PROJELER/infinityGame/[Mm]emoryCaptures/
/PROJELER/Jumper Cube/[Mm]emoryCaptures/
/PROJELER/Mind Game/[Mm]emoryCaptures/
/PROJELER/OutJump 3D//[Mm]emoryCaptures/
/PROJELER/Outjump Game/[Mm]emoryCaptures/
/PROJELER/Roller Splat/[Mm]emoryCaptures/
/PROJELER/Bullet Rush/[Mm]emoryCaptures/
/PROJELER/Toplama Mekanigi/[Mm]emoryCaptures/
# Recordings can get excessive in size
/PROJELER/AA Game/[Rr]ecordings/
/PROJELER/Civilization 2D/[Rr]ecordings/
/PROJELER/Helix Jump/[Rr]ecordings/
/PROJELER/infinityGame/[Rr]ecordings/
/PROJELER/Jumper Cube/[Rr]ecordings/
/PROJELER/Mind Game/[Rr]ecordings/
/PROJELER/OutJump 3D/[Rr]ecordings/
/PROJELER/Outjump Game/[Rr]ecordings/
/PROJELER/Roller Splat/[Rr]ecordings/
/PROJELER/Bullet Rush/[Rr]ecordings/
/PROJELER/Toplama Mekanigi/[Rr]ecordings/
# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/PROJELER/AA Game/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/Civilization 2D/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/Helix Jump/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/infinityGame/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/Jumper Cube/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/Mind Gam/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/OutJump 3D/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/Outjump Game/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/Roller Splat/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/Bullet Rush/[Aa]ssets/Plugins/Editor/JetBrains*
/PROJELER/Toplama Mekanigi/[Aa]ssets/Plugins/Editor/JetBrains*
# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/PROJELER/AA Game/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/Civilization 2D/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/Helix Jump/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/infinityGame/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/Jumper Cube/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/Mind Gam/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/OutJump 3D/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/Outjump Game/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/Roller Splat/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/Bullet Rush/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/PROJELER/Toplama Mekanigi/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
# Temporary auto-generated Android Assets
/PROJELER/AA Game/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/Civilization 2D/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/Helix Jump/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/infinityGame/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/Jumper Cube/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/Mind Gam/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/OutJump 3D/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/Outjump Game/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/Roller Splat/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/Bullet Rush/[Aa]ssets/[Ss]treamingAssets/aa.meta
/PROJELER/Toplama Mekanigi/[Aa]ssets/[Ss]treamingAssets/aa.meta/*

/PROJELER/AA Game/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/Civilization 2D/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/Helix Jump/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/infinityGame/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/Jumper Cube/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/Mind Gam/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/OutJump 3D/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/Outjump Game/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/Roller Splat/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/Bullet Rush/[Aa]ssets/[Ss]treamingAssets/aa/*
/PROJELER/Toplama Mekanigi/[Aa]ssets/[Ss]treamingAssets/aa/*








